.doctors-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 40px;
  gap: 2vw;
}

.doctor-description-and-image {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 75px;
}