.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .home-button {
    background-color: #556FA8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 20px;
  }
  
  .option-button {
    display: flex;
    background-color: #556FA8;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
  }
  .appointment-questions-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
  }
  .appointment-questions-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* font-size: 90px; */
    margin-left: 20%;
    margin-right: 20%;

  }
  .question-option {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .questionnaire-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
  }
  .intake-form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 30vw;
    margin-top: 100px;
  }
  .intake-form-header {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  .doctors-cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 8vh;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .doctor-card {
    /* display: flex; */
    margin-right: 20px;
  }
  .doctor-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .doctor-description-and-image {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 75px;
    /* margin-right: 10px; */
  }
  .calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* .doctor-description */